racek.session.sql
.vscode
app/__pycache__
main/__pycache__
main/migrations/*[0-9]*[a-zA-Z]*.py
data/management/commands/migrations/*[0-9]*[a-zA-Z]*.py
/media/file_templates/Erasable/
/db.sqlite3-app
/db.sqlite3-data
