{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
    {{ block.super }}

    {% if request.path == '/admin/main/customuser/' %}
      <li>
        <a href="{% url 'admin:auth_group_changelist' %}" class="link">
          {% translate 'Ver Grupos' %}
        </a>
      </li>
    {% endif %}

    {% if '/admin/data/cliente/' == request.path %}
      <li>
        <a href="/admin/data/capacitacioncliente/" class="link">
          {% translate 'Ver Capacitaciones' %}
        </a>
      </li>
    {% endif %}
{% endblock %}