{% extends 'base.html' %}
{% block extrahead %}
  {% load tz %}
  {% load static %}

  <!-- Enlace a tus estilos personalizados -->        
  <link 
      rel="stylesheet" 
      type="text/css"
      href="{% static 'css/users.css' %}"
  >

{% endblock %}

{% block right %}
  <div class="container">
    <h1>Usuarios Racek</h1>
    <form 
      method="post" 
      action="{% url 'delete_selected_users' %}" 
      onsubmit="return confirm('¿Deseas eliminar los usuarios seleccionados?');"
    >
      {% csrf_token %}
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
              <th>Select</th>
              <th>Username</th>
              <th>Email</th>
              <th>Nombre</th>
              <th>Apellido Paterno</th>
              <th>Apellido Materno</th>
              <th>Departamento</th>
              <th>Superuser</th>
              <th>Staff</th>
              <th>Active</th>
              <th>Tipo Usuario</th>
              <th>Date Joined</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td><input type="checkbox" name="selected_users" value="{{ user.id }}"></td>
              <td><a href="{% url 'edit_user' pk=user.pk %}">{{ user.username }}</a></td>
              <td>{{ user.email }}</td>
              <td>{{ user.nombre }}</td>
              <td>{{ user.apellido_paterno }}</td>
              <td>{{ user.apellido_materno }}</td>
              <td>{{ user.get_departamento_display }}</td>
              <td>{{ user.is_superuser }}</td>
              <td>{{ user.is_staff }}</td>
              <td>{{ user.is_active }}</td>
              {% for group in user.groups.all %}
                <td>{{ group.name }}</td>
              {% endfor %}
              <td>{{ user.date_joined|localtime|date:"Y-m-d H:i:s" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="buttons-container">
        <a href="/add-user/" class="btn btn-main">Agregar Usuario</a>
        <button type="submit" class="btn btn-danger">Eliminar seleccionados</button>
      </div>
    </form>
  </div>
{% endblock %}
