{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<!-- Enlace a tus estilos personalizados -->        
<link 
    rel="stylesheet" 
    type="text/css"
    href="{% static 'css/add-group.css' %}"
>

{% endblock %}

{% block right %}
    <h1>Nuevo Tipo de Usuario</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button 
            type="submit" 
            name="save_group" 
            value="Guardar" 
            class="btn btn-main" 
        >
            Guardar
        </button>   
    </form>
{% endblock %}
