<!-- Profile -->
{% extends 'base.html' %}
{% block extrahead %}
    {% load static %}

    <!-- Enlace a tus estilos personalizados -->
    
    <link 
      rel="stylesheet" 
      type="text/css"
      href="{% static 'css/base.css' %}"
    >
    
    <link 
      rel="stylesheet" 
      type="text/css" 
      href="{% static 'css/register.css' %}"
    >

    <title>
      Cuenta de Usuario
    </title>

{% endblock %}

{% block right %}
  <div class="container">
    <div class="right-container">
        <form method="post" class="form" id="form">
            <h1>
                Perfil de Usuario
            </h1>
                {% csrf_token %}
                
            <div class="form-group">
                {{ form.as_p }}
            </div>                
            <button type="submit" class="btn btn-success mt-3">
                Save Changes
            </button>
            <button type="button" onclick="window.location.href='/';" class="btn btn-success mt-3">
                Cancel
            </button>
        </form>
{% endblock %}
