<h1>
    Empleado
</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="{% url 'employment-portfolio' %}">
            Carpeta Laboral
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="{% url 'general-portfolio' %}">
            Carpeta Generales
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="{% url 'references-portfolio' %}">
            Carpeta Referencias
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="{% url 'dependents-portfolio' %}">
            Carpeta Dependientes
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="carpeta-examenes">
            Carpeta Examenes
        </a>
    </li>
</ul>
<div class="tab-content">
    <div id="carpeta-laboral" class="tab-pane active">
        <h3>
            Carpeta Laboral
        </h3>
        <p>
            Contenido de la Carpeta Laboral
        </p>
        <p>
            personal:{{carpetalaboral.personal}}
        </p>
        <div id="content" class="colM">
            <h1>
                Agregar curp
            </h1>
            <div id="content-main">
                <form method="post" id="curp_form" novalidate="">
                    <input type="hidden" 
                        name="csrfmiddlewaretoken" 
                        value="dhgyZyfVKpkcDw9CdGvDTsOv1L5Mq0q9s5s7WKksnaC1G0SX0GcKruAknmClaIV6">
                    <div>
                        <fieldset class="module aligned ">
                            {% comment %} <div class="form-row field-curp">
                                <div>
                                    <label for="id_curp">
                                        Curp:
                                    </label>
                                    <input type="text" 
                                        name="curp" 
                                        class="vTextField" 
                                        maxlength="18" 
                                        id="id_curp">
                                </div>
                            </div>
                            <div class="form-row field-nombre">
                                <div>
                                    <label class="required" 
                                        for="id_nombre">
                                            Nombre:
                                    </label>
                                    <input type="text" 
                                        name="nombre" 
                                        class="vTextField" 
                                        maxlength="100" required="" 
                                        id="id_nombre">
                                </div>
                            </div>
                            <div class="form-row field-apellido_paterno">
                                <div>
                                    <label class="required" 
                                        for="id_apellido_paterno">
                                            Apellido paterno:
                                    </label>
                                    <input type="text" 
                                        name="apellido_paterno" 
                                        class="vTextField" 
                                        maxlength="100" 
                                        required="" 
                                        id="id_apellido_paterno">
                                </div>
                            </div>
                            <div class="form-row field-apellido_materno">
                                <div>
                                    <label class="required" 
                                        for="id_apellido_materno">
                                            Apellido materno:
                                    </label>
                                    <input type="text" 
                                        name="apellido_materno" 
                                        class="vTextField" 
                                        maxlength="100" 
                                        required="" 
                                        id="id_apellido_materno">
                                </div>
                            </div>
                            <div class="form-row field-iniciales">
                                <div>
                                    <label for="id_iniciales">
                                        Iniciales:
                                    </label>
                                    <input type="text" 
                                        name="iniciales" 
                                        class="vTextField" 
                                        maxlength="20" 
                                        id="id_iniciales">
                                </div>
                            </div>
                            <div class="form-row field-fecha_nacimiento">
                                <div>
                                    <label for="id_fecha_nacimiento">
                                        Fecha nacimiento:
                                    </label>
                                    <input type="text" 
                                        name="fecha_nacimiento" 
                                        class="vDateField" 
                                        size="10" 
                                        id="id_fecha_nacimiento">
                                    <span class="datetimeshortcuts">
                                        &nbsp;<a href="#">Hoy</a>&nbsp;|&nbsp;<a href="#" id="calendarlink0">
                                            <span 
                                                class="date-icon" 
                                                title="Elija una Fecha">
                                            </span>
                                        </a>
                                    </span>
                                </div>
                            </div>

                            <div class="form-row field-edad">
                                <div>
                                    <label for="id_edad">
                                        Edad:
                                    </label>
                                    <input type="number" 
                                        name="edad" 
                                        class="vIntegerField" 
                                        min="0" 
                                        id="id_edad">
                                </div>
                            </div>

                            <div class="form-row field-anio_registro">
                                <div>
                                    <label for="id_anio_registro">
                                        Año registro:
                                    </label>
                                    <input type="number" 
                                        name="anio_registro" 
                                        class="vIntegerField" 
                                        min="0" 
                                        id="id_anio_registro">
                                </div>
                            </div>

                            <div class="form-row field-numero_acta">
                                <div>
                                    <label for="id_numero_acta">
                                        Numero acta:
                                    </label>
                                    <input type="text" 
                                        name="numero_acta" 
                                        class="vTextField" 
                                        maxlength="20" 
                                        id="id_numero_acta">
                                </div>
                            </div>

                            <!-- Campos adicionales del formulario -->

                            <div class="form-row field-validacion_renapo">
                                <div>
                                    <label for="id_validacion_renapo">
                                        Validacion renapo:
                                    </label>
                                    <select name="validacion_renapo" id="id_validacion_renapo">
                                        <option value="unknown">Desconocido</option>
                                        <option value="true">Sí</option>
                                        <option value="false" selected="">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row field-sexo">
                                <div>
                                    <label class="required" for="id_sexo">Sexo:</label>
                                    <input type="text" 
                                        name="sexo" 
                                        class="vTextField" 
                                        maxlength="10" 
                                        required="" 
                                        id="id_sexo">
                                </div>
                            </div>

                            <div class="form-row field-estatus_curp">
                                <div>    
                                    <label for="id_estatus_curp">
                                        Estatus curp:
                                    </label>        
                                    <select name="estatus_curp" id="id_estatus_curp">
                                        <option value="" selected="">---------</option>
                                        <option value="AN">Alta Normal</option>
                                        <option value="AH">Alta con Homonimia</option>
                                        <option value="RCC">Registro de cambio afectando a CURP</option>
                                        <option value="RCN">Registro de cambio no afectando a CURP</option>
                                        <option value="BD">Baja por defunción</option>
                                        <option value="BSU">Baja sin uso</option>
                                        <option value="BJD">Baja Judicial</option>
                                        <option value="BDM">Baja administrativa</option>
                                        <option value="BAP">Baja por documento apócrifo</option>
                                        <option value="BDP">Baja por adopción</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row field-clave_municipio_registro">
                                <div>
                                    <label for="id_clave_municipio_registro">
                                        Clave municipio registro:
                                    </label>
                                    <input type="text" 
                                        name="clave_municipio_registro" 
                                        class="vTextField" 
                                        maxlength="5" 
                                        id="id_clave_municipio_registro">
                                </div>
                            </div>
                            <div class="form-row field-municipio_registro">
                                <div>
                                    <label for="id_municipio_registro">
                                        Municipio registro:
                                    </label>
                                    <input type="text" 
                                        name="municipio_registro" 
                                        class="vTextField" 
                                        maxlength="100" 
                                        id="id_municipio_registro">              
                                </div>                
                            </div>
                            <div class="form-row field-clave_entidad_registro">
                                <div>
                                    <label for="id_clave_entidad_registro">
                                        Clave entidad registro:
                                    </label>
                                    <input type="text" 
                                        name="clave_entidad_registro" 
                                        class="vTextField" 
                                        maxlength="5" 
                                        id="id_clave_entidad_registro">
                                </div>
                            </div>
                            <div class="form-row field-entidad_registro">
                                <div>
                                    <label for="id_entidad_registro">
                                        Entidad registro:
                                    </label>
                                    <input type="text" 
                                        name="entidad_registro" 
                                        class="vTextField" 
                                        maxlength="100" 
                                        id="id_entidad_registro">
                                </div>
                            </div>
                            <div class="form-row field-transaction_id">
                                <div>
                                    <label for="id_transaction_id">
                                        Transaction id:
                                    </label>
                                    <input type="text" 
                                        name="transaction_id" 
                                        class="vTextField" 
                                        maxlength="100" 
                                        id="id_transaction_id">
                                </div>
                            </div> {% endcomment %}
                        </fieldset>
                        <div class="submit-row">
                            <input type="submit" value="Guardar" class="default" name="_save">
                            <input type="submit" value="Guardar y agregar otro" name="_addanother">
                            <input type="submit" value="Guardar y continuar editando" name="_continue">
                        </div>
                        <script 
                            id="django-admin-form-add-constants" 
                            src="/static/admin/js/change_form.js" 
                            data-model-name="curp" 
                            async="">
                        </script>
                        <script 
                            id="django-admin-prepopulated-fields-constants" 
                            src="/static/admin/js/prepopulate_init.js" 
                            data-prepopulated-fields="[]">
                        </script>
                    </div>
                </form>
            </div>                            
            <br class="clear">
        </div>
    </div>
    <div id="carpeta-generales" class="tab-pane">
        <h3>Carpeta Generales</h3>
        <p>Contenido de la Carpeta Generales</p>
    </div>
    <div id="carpeta-referencias" class="tab-pane">
        <h3>Carpeta Referencias</h3>
        <p>Contenido de la Carpeta Referencias</p>
    </div>
    <div id="carpeta-dependientes" class="tab-pane">
        <h3>Carpeta Dependientes</h3>
        <p>Contenido de la Carpeta Dependientes</p>
    </div>
    <div id="carpeta-examenes" class="tab-pane">
        <h3>Carpeta Examenes</h3>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="{% url 'psychological-portfolio' %}">Carpeta Examen Psicológico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="{% url 'toxicological-portfolio' %}">Carpeta Examen Toxicológico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="{% url 'medical-portfolio' %}">Carpeta Examen Médico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="{% url 'physical-portfolio' %}">Carpeta Examen Físico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="{% url 'socioeconomic-portfolio' %}">Carpeta Examen Socioeconómico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="{% url 'polygraph-portfolio' %}">Carpeta Examen Poligráfico</a>
            </li>
        </ul>
        <div class="tab-content">
                <div class="tab-pane fade show active" id="examen_psicologico" role="tabpanel">
                <!-- Contenido de la carpeta examen psicológico -->
                </div>
                <div id="examen_toxicologico" role="tabpanel">
                <!-- Contenido de la carpeta examen toxicológico -->
                </div>
                <div id="examen_medico" role="tabpanel">
                <!-- Contenido de la carpeta examen médico -->
                </div>
                <div id="examen_fisico" role="tabpanel">
                <!-- Contenido de la carpeta examen físico -->
                </div>
                <div id="examen_socioeconomico" role="tabpanel">
                <!-- Contenido de la carpeta examen socioeconómico -->
                </div>
                <div id="examen_poligrafo" role="tabpanel">
                <!-- Contenido de la carpeta examen poligráfico -->
        </div>
    </div>
</div>
