{% extends 'base.html' %}

{% block start %}

  {% include "main-menu.html" %}

    <div class="container">
      {% include "buttons-box.html" %}
      <div class="work-container">
          <h1>Empleado</h1>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="{% url 'employment-portfolio' %}">Carpeta Laboral</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="{% url 'general-portfolio' %}">Carpeta Generales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="{% url 'references-portfolio' %}">Carpeta Referencias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="{% url 'dependents-portfolio' %}">Carpeta Dependientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="carpeta-examenes">Carpeta Examenes</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="carpeta-laboral" class="tab-pane active">
              <h3>Carpeta Laboral</h3>
              <p>Contenido de la Carpeta Laboral</p>
              <p>personal:{{carpetalaboral.personal}}</p>
            </div>
            <div id="carpeta-generales" class="tab-pane">
              <h3>Carpeta Generales</h3>
              <p>Contenido de la Carpeta Generales</p>
            </div>
            <div id="carpeta-referencias" class="tab-pane">
              <h3>Carpeta Referencias</h3>
              <p>Contenido de la Carpeta Referencias</p>
            </div>
            <div id="carpeta-dependientes" class="tab-pane">
              <h3>Carpeta Dependientes</h3>
              <p>Contenido de la Carpeta Dependientes</p>
            </div>
            <div id="carpeta-examenes" class="tab-pane">
                <h3>Carpeta Examenes</h3>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="{% url 'psychological-portfolio' %}">Carpeta Examen Psicológico</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="{% url 'toxicological-portfolio' %}">Carpeta Examen Toxicológico</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="{% url 'medical-portfolio' %}">Carpeta Examen Médico</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="{% url 'physical-portfolio' %}">Carpeta Examen Físico</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="{% url 'socioeconomic-portfolio' %}">Carpeta Examen Socioeconómico</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="{% url 'polygraph-portfolio' %}">Carpeta Examen Poligráfico</a>
                        </li>
                    </ul>
                      <div class="tab-content">
                        <div class="tab-pane fade show active" id="examen_psicologico" role="tabpanel">
                            <!-- Contenido de la carpeta examen psicológico -->
                        </div>
                        <div id="examen_toxicologico" role="tabpanel">
                            <!-- Contenido de la carpeta examen toxicológico -->
                        </div>
                        <div id="examen_medico" role="tabpanel">
                            <!-- Contenido de la carpeta examen médico -->
                        </div>
                        <div id="examen_fisico" role="tabpanel">
                            <!-- Contenido de la carpeta examen físico -->
                        </div>
                        <div id="examen_socioeconomico" role="tabpanel">
                            <!-- Contenido de la carpeta examen socioeconómico -->
                        </div>
                        <div id="examen_poligrafo" role="tabpanel">
                            <!-- Contenido de la carpeta examen poligráfico -->
                        </div>
                      </div>
            </div>
          </div>
      </div>
    </div>

{% endblock %}