<!-- Home -->
{% extends "base.html" %}
{% block extrahead %}
    {% load static %}

    <!-- Enlace a tus estilos personalizados -->

    <link 
      rel="stylesheet" 
      type="text/css" 
      href="{% static 'css/home2.css' %}"
    >

    <title>
      SPGestor
    </title>

{% endblock %}

{% block right %}
  <div class="background-container">
      <div class="logo-container">
          <img src="static/img/racek_logo_med.svg" alt="Logo" class="img-background">
      </div>    
    </div>
{% endblock %}
