{% extends "base.html"%}
{% block start %}

    <div class="text-center">
        <a href="/logout/" class="btn btn-danger">Logout</a>
    </div>
    <div class="text-center">

        <h1>Welcome.. </h1>
        <div class="container">
            <div class="button-container">
                <a href="clientes.html" class="btn btn-danger">Clientes</a>
                <a href="previos.html" class="btn btn-danger">Previos</a>
                <a href="employees" class="btn btn-danger">Empleados</a>
            </div>
        </div>
    </div>


{% endblock %}  